<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BLL_Private_Equity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BLL_Private_Equity.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <connectionStrings>
    <add name="BllConnectionString" connectionString="Server=localhost;User Id=postgres;Password=mercury1994;Database=BllDB;" providerName="Npgsql" />
    <add name="DefaultConnecton" connectionString="Server=localhost;User Id=postgres;Password=mercury1994;Database=BllDB;" providerName="Npgsql" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="Npgsql.NpgsqlConnectionFactory, EntityFramework6.Npgsql" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="Npgsql" type="Npgsql.NpgsqlServices, EntityFramework6.Npgsql" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Npgsql" publicKeyToken="5d8b90d52f46fda7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FSharp.Core" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.4.0.0" newVersion="4.4.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls.Navigation" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2018.3.1016.45" newVersion="2018.3.1016.45" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2018.3.1016.45" newVersion="2018.3.1016.45" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Telerik.Windows.Controls.Input" publicKeyToken="5803cfa389c90ce7" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2018.3.1016.45" newVersion="2018.3.1016.45" />
      </dependentAssembly>
    </assemblyBinding>
     
  </runtime>
  <userSettings>
    <BLL_Private_Equity.Properties.Settings>
      <setting name="ExportDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="WordTemplateDirectory" serializeAs="String">
        <value />
      </setting>
      <setting name="CurrencyFile" serializeAs="String">
        <value />
      </setting>
      <setting name="CommitmentFile" serializeAs="String">
        <value />
      </setting>
      <setting name="CashFlowFile" serializeAs="String">
        <value />
      </setting>
      <setting name="PcapFile" serializeAs="String">
        <value />
      </setting>
      <setting name="PcapExportFile" serializeAs="String">
        <value />
      </setting>
      <setting name="EmailAccount" serializeAs="String">
        <value />
      </setting>
      <setting name="EmailBodyCall" serializeAs="String">
        <value />
      </setting>
      <setting name="EmailBodyDistribution" serializeAs="String">
        <value />
      </setting>
      <setting name="EmailSignature" serializeAs="String">
        <value />
      </setting>
    </BLL_Private_Equity.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <BLL_Private_Equity.Properties.Settings>
      <setting name="HqtTelefon" serializeAs="String">
        <value>06172 402-</value>
      </setting>
      <setting name="HqtTelefonInternational" serializeAs="String">
        <value>+49 (0) 6172 402 -</value>
      </setting>
      <setting name="Anwender" serializeAs="String">
        <value>BLL</value>
      </setting>
    </BLL_Private_Equity.Properties.Settings>
  </applicationSettings>
</configuration>

